#app {
    width: 100%;
    min-width: 320px;
    min-height: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.content {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    background: url('~images/drawing-1.svg');
    @include image;
    min-height: rem(650px);
    background-position-y: 100%;
    /* должны быть одинаковые с футером */
    padding: rem(10px) rem(10px) 5% rem(10px);
}

.footer {
    width: 100%;
    min-height: rem(200px);
    display: flex;
    background-color: #54422a;
    justify-content: center;
    /* должны быть одинаковые с футером */
    padding: rem(20px);
}

.left {
    display: flex;
    height: rem(200px);
    margin-right: rem(20px);
}

.text,
.sign {
    color: $white;
    font-size: rem(49px);
    font-weight: 400;
    align-self: center;
}

.text {
    line-height: rem(56px);
    white-space: pre;
    text-align: right;
}

.list {
    display: flex;
    flex-wrap: wrap;
}

.main-section {
    display: flex;
    align-items: flex-end;
    flex: 1;
}

.treasure {
    position: relative;
    width: rem(146px);
    height: rem(110px);
    background-image: url('~images/safe-01.svg');
    @include image;
    box-shadow: 0 0 109px 2px rgba(231, 155, 34, 0.72);
}