$mobile: 480px;
$tablets: 768px;
$desktop: 1024px;
$large: 1200px;
$green: #6c9c5a;
$begie: #f0efe9;
$white: #fff;
$text: #566358;

/* ----------------- */

$green-hover: #4e8839;
$dark-grey: #c5ccce;
$grey: #f6f6f6;
$black: #343c40;
$red: #e44845;